mat-grid-tile {
    background: lightblue;
  }
  .left-grids
  {
      float: left;
      margin-left: 0%;
  }
  #component-name
{
  margin-left: 50px;
  padding-bottom: 1000px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
}